<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body>



        <div class="jumbotron">
        <h1>出错了</h1>
        <p th:text="${messages}">等下试试</p>
        <p><a class="btn btn-primary btn-lg" href="/" role="button">回到首页</a></p>
</div>

</body>
</html>